<a class="

text-[#fcffffc2]
border-2 
border-[#4D82BC]
bg-[#005187]
hover:bg-[#005187aa]
font-medium
rounded-lg 
text-lg
px-5 
py-2.5 
text-center 
mb-2 
hover:scale-110
transition"
href="/cv/CV_luis_sanchez.pdf" 
target="_blank">

Donwolad CV</a>