<!-- ARREGLAS CUANDO LO DEMAS ESTE ARREGLADO -->
<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
    <nav 
    
    class=" font-semibold flex flex-row md:gap-x-10 gap-x-4 md:text-base  opacity-80  rounded-full bg-[#2e2e2e] p-3 px-4 text-xs  ">
        <a class="hover:text-[#8D578B]" href="#experience">Experience</a>
        <a class="hover:text-[#8D578B]"  href="#projects">Projects</a>
        <a class="hover:text-[#8D578B]" href="#skills">Skills</a>
        <a class="hover:text-[#8D578B]" href="#formations">Formations</a>
        <a class="hover:text-[#8D578B]" href="#about-me">About me</a>
    </nav>
</header>